{% extends 'books/book_update'%}
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

{% block content %}
<div class="row">
	<div class="col-md-12 ">
		<div class="customDiv">
				<div class="box_design">

					<form action="">
						<label for="" class="book_txt" id="book_txt1">Hey babeId:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
							<input type="text" name="" id="book_insert">
						</label>

						<br>

						<label for="" class="book_txt">Enter Book Name:
							<input type="text" name="" id="book_insert">
						</label>

					</form>
					
				</div>
		</div>
	</div>

</div>
{% endblock %}
</body>
</html>