{% extends "base.html"%}




{% block content %}

<div class="row">
	<div class="col-md-12 ">
		<div class="customDiv" >
			<div class=box_design>
				<form action="/borrow/searchitem" >
					<div class="md-form active-purple active-purple-2 mb-3">
  						<input class="form-control" type="text" placeholder="Search by         Acc_no/book name/author name......." aria-label="Search" name="search_content">
					</div>					
				</form>
				
			</div>



			<div class="box_design">
			{% if status == 0 %}
				{{searched_data}}

			{% else %}
				<form action="/borrow/select_borrower">
					<table class="table table-hover  table-responsive">

						<tr>
							<th id="table_row">Acc No</th>
							<th id="table_row">Book Title</th>
							<th id="table_row">Author</th>
							<th id="table_row"></th>
						</tr>

						{% for item in searched_data %}
						<tr>
							<th>{{item.acc_no}}</th>
							<th>{{item.title}}</th>
							<th>{{item.author}}</th>
							<th><button type="submit" name="borrow_book" value="{{item.acc_no}}" class="btn btn-info">Borrow</button></th>
						</tr>
						{% endfor %}						
					</table>					
				</form>
			{% endif %}
			</div>

				<div class="board">
					{% for msg in  messages %}
					<h1 style="color: white">{{msg}}</h1>
					{% endfor %}
					
				</div>


			</div>
		</div>
	</div>
</div>
    	
{% endblock  %}

