<!DOCTYPE html>
<html>
<head>
<script type="text/javascript">
		function button_effect1()
		{
			var x=document.getElementById("button");
			x.style.backgroundColor="#C70039 ";
		}
		function button_effect2()
		{
			var x=document.getElementById("button")
			x.style.backgroundColor="#CB146D";
		}
</script>

	<title></title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/mainPageDesign.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'js/bootstrap.min.js' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'js/j.min.js' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>


<body>
	{% csrf_token %}

<div class="header">
	<div >

		{% if user.is_authenticated %}
		<div>
			<span id="left_header">Hello {{user.get_full_name}}</span>&nbsp
			<a href="/login/logout">
				<span id="log_out"><i class="glyphicon glyphicon-log-out"></i>&nbsp
				<span id="log_out">Log out</span>					
				</span>
			</a>

		</div>
		{% else %}

		<div>
			<span id="left_header">Welcome World</span>
				<a href="/login">
				<span id="log_in"><i class="glyphicon glyphicon-log-in"></i>&nbsp
					<span id="log_in">Log in</span>					
				</span>
			</a>
		</div>

		{% endif %}		
	</div>	
</div>




<div class="side-nav">
	<nav>
		<ul>
			<li>
				<a href="/books/insertform">
					<span><i class="glyphicon glyphicon-folder-open"></i></span>
                    <span> &nbspInsert</span>
 				</a>
			</li>
			<li>
				<a href="/books/updateform">
					<span><i class="glyphicon glyphicon-th-list"></i></span>
                    <span>&nbspUpdate</span>
 				</a>
			</li>
			<li>
				<a href="/">
					<span><i class="glyphicon glyphicon-trash"></i></span>
                    <span>&nbspDelete</span>
 				</a>
			</li>

			<li>
				<a href="/adminOwn/librarian_reg">
					<span><i class="glyphicon glyphicon-user"></i></span>
                    <span>&nbspUser Managing</span>
 				</a>
			</li>
			<li>
				<a href="/">
					<span><i class="glyphicon glyphicon-menu-left" style="color: red"></i></span>
                    <span style="color: red ;font-size: 20px">&nbspBack</span>
 				</a>
			</li>
		</ul>
	</nav>
	
</div>

{% block content %}

<div class="row">
	<div class="col-md-12 ">
		<div class="customDiv" >

			
		</div>
	</div>
</div>


{% endblock %}
</body>
</html>